<div class="accordion" id="low">
    <div class="accordion_item">
        <div class="accordion_trigger">
            <span>Bezpečné/chránené dvory</span>
            <img class="accordion_arrow" src="./images/arrow_green.svg" alt="image not found">
        </div>
        <div class="accordion_content">
            <p>
                Ulice MAYERa sú bezpečné, lemované stromami a stvorené na
                presun pešo či na bicykli. Maximum zdrojov je tu zdieľaných a recyklovaných.
                Prirodzené
                napojenia na blízke parky, mokrade a lúky, ale aj blízke Malacky dávajú obyvateľom
                možnosť žiť zdravo, autonómne a nezávisle.
            </p>
        </div>
    </div>
    <div class="accordion_item">
        <div class="accordion_trigger">
            <span>Uzavreté dvory v obytných blokoch s priestorom na stretávanie sa susedov </span>
            <img class="accordion_arrow" src="./images/arrow_green.svg" alt="image not found">
        </div>
        <div class="accordion_content">
            <p>
                Ulice MAYERa sú bezpečné, lemované stromami a stvorené na
                presun pešo či na bicykli. Maximum zdrojov je tu zdieľaných a recyklovaných.
                Prirodzené
                napojenia na blízke parky, mokrade a lúky, ale aj blízke Malacky dávajú obyvateľom
                možnosť žiť zdravo, autonómne a nezávisle.
            </p>
        </div>
    </div>
    <div class="accordion_item">
        <div class="accordion_trigger">
            <span>S pestovateľskými záhonmi a s ihriskami pre menšie deti, bez dozoru rodičov</span>
            <img class="accordion_arrow" src="./images/arrow_green.svg" alt="image not found">
        </div>
        <div class="accordion_content">
            <p>
                Ulice MAYERa sú bezpečné, lemované stromami a stvorené na
                presun pešo či na bicykli. Maximum zdrojov je tu zdieľaných a recyklovaných.
                Prirodzené
                napojenia na blízke parky, mokrade a lúky, ale aj blízke Malacky dávajú obyvateľom
                možnosť žiť zdravo, autonómne a nezávisle.
            </p>
        </div>
    </div>
    <div class="accordion_item">
        <div class="accordion_trigger">
            <span>Na prízemí komunitný priestor prepojený s kaviarňou</span>
            <img class="accordion_arrow" src="./images/arrow_green.svg" alt="image not found">
        </div>
        <div class="accordion_content">
            <p>
                Ulice MAYERa sú bezpečné, lemované stromami a stvorené na
                presun pešo či na bicykli. Maximum zdrojov je tu zdieľaných a recyklovaných.
                Prirodzené
                napojenia na blízke parky, mokrade a lúky, ale aj blízke Malacky dávajú obyvateľom
                možnosť žiť zdravo, autonómne a nezávisle.
            </p>
        </div>
    </div>
</div>