 <section class="blog-card-block">
        <div class="container">
          <div class="blog-card-block_content">
            <h3 class="blog-card-block_title wow animate__animated animate__fadeInDown">Viac zo života na
              MAYERi</h3>
            <div class="card wow animate__animated animate__fadeInDown">
              <div class="card_img">
                <img src="./images/content/life_img.webp" alt="image not found">
              </div>
              <div class="card_text">
                <h4 class="card_title">Lesom na bicykli: tipy na výlet na MAYERi</h4>
                <p class="card_descr">Aby susedstvá fungovali, potrebujú na to vytvoriť podmienky –
                  a
                  nie každý projekt, ktorý tvrdí, že je komunitný, v tom dosiahne úspech. Na čo
                  všetko
                  je potrebné pri tvorbe projektu štvrte myslieť, aby to v nej žilo, sme sa
                  rozprávali
                  s Borisom Hrbáňom, jedným z kľúčových autorov MAYERa.</p>
                <a href="#" class="card_link link link_afterline-green">Čítať viac</a>
              </div>
            </div>
          </div>
        </div>
      </section>