<div class="cookies">
    <div class="cookies_content">
        <div class="cookies_text">
            <h5 class="cookies_title">Táto webstránka používa súbory cookies</h5>
            <p class="cookies_descr">Na prispôsobenie obsahu a reklám, poskytovanie funkcií
                sociálnych médií a analýzu návštevnosti používame súbory cookie. Informácie o tom,
                ako používate naše webové stránky, poskytujeme aj našim partnerom v oblasti
                sociálnych médií, inzercie a analýzy. Títo partneri môžu príslušné informácie
                skombinovať s ďalšími údajmi, ktoré ste im poskytli alebo ktoré od vás získali, keď
                ste používali ich služby.</p>
            <div class="cookies_switchers">
                <div class="switch-wrap">
                    <span>Potrebné</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="switch-wrap">
                    <span>Preferencie</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="switch-wrap">
                    <span>Štatistiky</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="switch-wrap">
                    <span>Marketing</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                <a href="#" class="link"><span>Zobraziť detaily</span> <img class="link_arrow"
                        src="./images/arrow_green.svg" alt="image not found"></a>
            </div>
        </div>
        <div class="cookies_buttons">
            <button class="btn btn_secondary-green">Povoliť všetko</button>
            <button class="btn btn_secondary-green">Povoliť výber</button>
            <button class="btn btn_secondary-green">Odmietnuť</button>
        </div>
    </div>
</div>