<footer id="footer" class="footer">
    <div class="container">
        <div class="footer_top">
            <div class="footer_top-column">
                <h4 class="column_title">MAYER PRÍRODNÝ</h4>
                <p class="column_text">Lokalita MAYERa je výnimočná množstvom príležitostí na
                    aktívny pobyt vonku. Nájdete tu viacero zákutí.</p>
                <a href="#" class="column_link link_afterline-green">Zobraziť viac</a>
            </div>
            <div class="footer_top-column">
                <h4 class="column_title">MAYER ĽUDsKÝ</h4>
                <p class="column_text">Lokalita MAYERa je výnimočná množstvom príležitostí na
                    aktívny pobyt vonku.</p>
                <a href="#" class="column_link link_afterline-green">Zobraziť viac</a>
            </div>
            <div class="footer_top-column">
                <h4 class="column_title">MAYER UDRŽATEĽNÝ</h4>
                <p class="column_text">Lokalita MAYERa je výnimočná množstvom príležitostí na
                    aktívny pobyt vonku. Nájdete tu viacero zákutí, ktoré bezpochyby patria k
                    najkrajším miestam bratislavského kraja.</p>
                <a href="#" class="column_link link_afterline-green">Zobraziť viac</a>
            </div>
        </div>
        <div class="footer_mailing">
            <h2 class="section-title">Odoberajte novinky</h2>
            <form action="#" class="footer_form">
                <input type="email" placeholder="E-mail">
                <button type="submit" class="link link_afterline-green">Odoslať</button>
            </form>
            <span class="tip">Raz za čas vám pošleme zaujímavé články</span>
        </div>
        <div class="footer_menu">
            <div class="footer_menu-column">
                <span class="menu-column_title">Menu</span>
                <a href="#">Úvod</a>
                <a href="#">Spoznaj štvrt</a>
                <a href="#">Objav domov</a>
                <a href="#">Výber nehnuteľnosti</a>
            </div>
            <div class="footer_menu-column column-middle">
                <span class="menu-column_title">Bytový dom</span>
                <a href="#">VERONICA</a>
                <span class="menu-column_title">Rodinné domy</span>
                <a href="#">SALVIA</a>
                <span class="menu-column_title">Pozemky</span>
                <a href="#">PRIMULA</a>
            </div>
            <div class="footer_menu-column column-last">
                <span class="menu-column_title">Kontakt</span>
                <p>Vytvárame miesta, kde sa z domov stávajú domovy. Stojíme pri
                    vzniku živých susedstiev, v ktorých sa ľudia cítia dobre. Pracujeme vždy iba na
                    toľkých projektoch, aby sme sa im mohli venovať osobne, srdcom a naplno.</p>
                <div class="column_links-wrap">
                    <a href="mailto:info@mayermalacky.sk"
                        class="column_link">info@mayermalacky.sk</a>
                    <a href="tel:+421903265454">+421 903 265 454</a>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="social">
                <a href="#" target="_blank">
                    <img src="./images/facebook.svg" alt="facebook icon">
                    <span>Facebook</span>
                </a>
                <a href="#" target="_blank">
                    <img src="./images/instagram.svg" alt="instagram icon">
                    <span>Facebook</span>
                </a>
                
            </div>
            <div class="info">
                <p>©2025 MAYER</p>
                <p>Design by <a href="#" target="_blank" class="link_underline">khn office</a>,
                    Development by <a href="#" target="_blank" class="link_underline">Webmall</a>
                </p>
                <a href="#" class="link_underline">Súbory cookies</a>
                <a href="#" class="link_underline">Podmienky ochrany súkromia</a>
            </div>
        </div>
    </div>
</footer>