<div class="form wow animate__animated animate__fadeInDown">
    <form action="#" method="POST">
        <label for="name" class="data">
            Meno
            <input id="name" name="name" type="text" placeholder="Meno" required
                autocomplete="given-name" aria-required="true" />
        </label>

        <label for="surname" class="data">
            Priezvisko
            <input id="surname" name="surname" type="text" placeholder="Priezvisko" required
                autocomplete="family-name" aria-required="true" />
        </label>

        <label for="email" class="data">
            E-mail
            <input id="email" name="email" type="email" placeholder="E-mail" required
                autocomplete="email" aria-required="true" />
        </label>

        <label for="phone" class="data">
            Telefónne číslo
            <input id="phone" name="phone" type="tel" placeholder="Telefónne číslo" required
                autocomplete="tel" aria-required="true" />
        </label>

        <label for="message" class="data textarea">
            Vaša správa
            <textarea id="message" name="message" placeholder="Vaša správa"></textarea>
        </label>

        <label for="agree" class="checkbox">
            <input id="agree" name="agree" type="checkbox" required aria-required="true" />
            <span class="custom-checkbox-box" aria-hidden="true"></span>
            Súhlasím so zasielaním marketingových informácií, vrátane reklamy,
            elektronickou poštou alebo prostredníctvom SMS.
        </label>

        <div class="links_wrap">
            <a href="#" class="link_underline">Cookies</a>
            <a href="#" class="link_underline">Pravidlá spracúvania osobných údajov</a>
        </div>

        <button type="submit" class="form_btn btn btn_secondary-green"
            aria-label="Odoslať formulár">
            Odoslať
        </button>
    </form>
</div>