<div class="gallery-modal hidden" role="dialog" aria-modal="true" aria-hidden="true"
    data-modal-gallery-id="main-gallery">
    <div class="gallery-modal_backdrop"></div>
    <div class="swiper gallery-modal-swiper">
        <div class="swiper-wrapper"></div>
        <div class="swiper-button-next">
            <img class="arrow" src="./images/arrow.svg" alt="image not found">
        </div>
        <div class="swiper-button-prev">
            <img class="arrow" src="./images/arrow.svg" alt="image not found">
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <button class="gallery-modal_close-btn" aria-label="Close gallery"></button>
</div>