<section class="gallery">
    <div class="container">
        <p class="gallery_description caption wow animate__animated animate__fadeInDown">Okolie
            MAYERa
            tvorí rozmanité prírodné prostredie, ktoré je
            na dosah každého dňa v štvrti. Lesy, rybníky, bažiny aj lúky sú pohodlne dostupné pešo
            aj na bicykli a ich pestrosť v priebehu ročných období vás láka objavovať.</p>
        <div class="swiper gallery-swiper wow animate__animated animate__fadeInDown">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./images/gallery/gallery_img_1.webp" alt="Image 1" />
                    <span class="caption">Popiska k fotke</span>
                </div>
                <div class="swiper-slide">
                    <img src="./images/gallery/gallery_img_2.webp" alt="Image 2" />
                    <span class="caption">Popiska k fotke</span>
                </div>
                <div class="swiper-slide">
                    <img src="./images/gallery/gallery_img_3.webp" alt="Image 3" />
                    <span class="caption">Popiska k fotke</span>
                </div>
                <div class="swiper-slide">
                    <img src="./images/gallery/gallery_img_4.webp" alt="Image 4" />
                    <span class="caption">Popiska k fotke</span>
                </div>
            </div>
            <div class="swiper-button-next">
                <img class="arrow" src="./images/arrow.svg" alt="image not found">
            </div>
            <div class="swiper-button-prev">
                <img class="arrow" src="./images/arrow.svg" alt="image not found">
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="gallery-modal hidden">
        <div class="gallery-modal_backdrop"></div>
        <div class="swiper gallery-modal-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="gallery-modal_slide">
                        <img src="./images/gallery/gallery_img_1.webp" alt="Image 1" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-modal_slide">
                        <img src="./images/gallery/gallery_img_2.webp" alt="Image 2" />
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="gallery-modal_slide">
                        <img src="./images/gallery/gallery_img_3.webp" alt="Image 3" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-modal_slide">
                        <img src="./images/gallery/gallery_img_4.webp" alt="Image 4" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-modal_slide">
                        <img src="./images/gallery/gallery_img_3.webp" alt="Image 3" />
                    </div>
                </div>
            </div>
            <div class="swiper-button-next">
                <img class="arrow" src="./images/arrow.svg" alt="image not found">
            </div>
            <div class="swiper-button-prev">
                <img class="arrow" src="./images/arrow.svg" alt="image not found">
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <button class="gallery-modal_close-btn"></button>
    </div>
</section>