<header id="header" class="header">
    <div class="container">
        <div class="header_content">
            <div class="header_logo-wrap">
                <a href="index.html" class="header_logo animate__animated animate__fadeInDown">
                    <svg>
                        <use xlink:href="/spritemap.svg#logo"></use>
                    </svg>
                </a>
                <img class="house-type-logo animate__animated animate__fadeInDown"
                    src="./images/house-type-logo.svg" alt="veronica">
            </div>
            <div class="header_actions animate__animated animate__fadeInDown">
                <a href="district.html" class="header_actions-link">Spoznajte štvrt</a>
                <a href="find-house.html" class="header_actions-link">Nájdite domov</a>
                <a href="choose.html" class="btn btn_primary-white">Výber nehnuteľnosti</a>
                <a href="#" class="btn btn_secondary-white">Záujem</a>
            </div>
            <div class="header_actions-mobile animate__animated animate__fadeInDown">
                <a href="#" class="header_actions-link viber-link">Výber</a>
                <button class="menu_btn btn btn_primary-white" data-open="MENU"
                    data-close="ZAVRI">MENU</button>
            </div>
        </div>
    </div>
</header>
<div class="header_mob-menu">
    <div class="header_mob-menu__body">
        <nav class="mob-menu_nav">
            <ul class="mob-menu_list">
                <li class="mob-menu_item">
                    <a href="index.html" class="mob-menu_link">Úvod</a>
                </li>
                <li class="mob-menu_item">
                    <a href="district.html" class="mob-menu_link">Spoznajte štvrt</a>
                </li>
                <li class="mob-menu_item">
                    <a href="find-house.html" class="mob-menu_link">Nájdite domov</a>
                </li>
                <li class="mob-menu_item">
                    <a href="choose.html" class="mob-menu_link">Výber nehnuteľnosti</a>
                </li>
            </ul>
        </nav>
        <button class="mob-menu_btn btn btn_secondary-green">Záujem</button>
        <div class="mob-menu_sales">
            <span class="mob-menu_title">V predaji</span>
            <div class="swiper mob-menu_swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="mob-menu_slider">
                            <div class="mob-menu_slider-img">
                                <img src="./images/content/mob-menu_img_1.webp"
                                    alt="image not found">
                            </div>
                            <h4 class="mob-menu_slider-title">VERONICA</h4>
                            <p class="mob-menu_slider-descr">24 voľných</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mob-menu_slider">
                            <div class="mob-menu_slider-img">
                                <img src="./images/content/mob-menu_img_2.webp"
                                    alt="image not found">
                            </div>
                            <h4 class="mob-menu_slider-title">sALVIA</h4>
                            <p class="mob-menu_slider-descr">80 voľných</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mob-menu_slider">
                            <div class="mob-menu_slider-img">
                                <img src="./images/content/mob-menu_img_1.webp"
                                    alt="image not found">
                            </div>
                            <h4 class="mob-menu_slider-title">VERONICA</h4>
                            <p class="mob-menu_slider-descr">24 voľných</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mob-menu_slider">
                            <div class="mob-menu_slider-img">
                                <img src="./images/content/mob-menu_img_2.webp"
                                    alt="image not found">
                            </div>
                            <h4 class="mob-menu_slider-title">sALVIA</h4>
                            <p class="mob-menu_slider-descr">80 voľných</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mob-menu_prepare">
            <span class="mob-menu_title">Pripravujeme</span>
            <div class="mob-menu_prepare-body">
                <div class="mob-menu_prepare-item">
                    <h4 class="mob-menu_prepare-item__title">ROSA</h4>
                    <p class="mob-menu_prepare-item__status">Výstavba Q4 2027</p>
                </div>
                <div class="mob-menu_prepare-item">
                    <h4 class="mob-menu_prepare-item__title">SALVIA</h4>
                    <p class="mob-menu_prepare-item__status">Pripravujeme</p>
                </div>
                <div class="mob-menu_prepare-item">
                    <h4 class="mob-menu_prepare-item__title">TILIA</h4>
                    <p class="mob-menu_prepare-item__status">Pripravujeme</p>
                </div>
            </div>
        </div>
        <div class="mob-menu_contact">
            <div class="mob-menu_contact__links">
                <a href="mailto:info@mayermalacky.sk"
                    class="mob-menu_contact__link">info@mayermalacky.sk</a>
                <a class="mob-menu_contact__link" href="tel:+421903265454">+421 903 265 454</a>
            </div>
            <div class="mob-menu_contact__social">
                <a href="#" target="_blank">
                    <img src="./images/facebook.svg" alt="facebook icon">
                    <span>Facebook</span>
                </a>
                <a href="#" target="_blank">
                    <img src="./images/instagram.svg" alt="instagram icon">
                    <span>Instagram</span>
                </a>
            </div>
        </div>
    </div>
</div>