<div class="house-info">
    <div class="house-info_img">
        <img src="./images/content/house_img.webp" alt="image not found">
    </div>
    <div class="house-info_text">
        <h4 class="house-info_title">VERONICA</h4>
        <p class="house-info_descr">Bytový dom postavený na zdieľaní a zveľaďovaní spoločných
            priestorov. Ideálny pre aktívny rodinný a susedský život v na bezpečnom, uzavretom
            dvore.</p>
        <div class="house-info_status">
            <div class="house-info_status-label">
                <div class="free-count">
                    <span>40</span>
                    <span>/</span>
                    <span>46</span>
                </div>
                <span>Voľných</span>
            </div>
            <div class="divider"></div>
            <div class="house-info_status-label">
                <span>Kolaudácia: 04-2028</span>
            </div>
        </div>
    </div>
</div>