<div class="list_items">
    <a href="#" class="list_items__item">Bezpečné/chránené
        dvory
        <img class="arrow" src="./images/arrow_green.svg" alt="image not found"></a>
    <a href="#" class="list_items__item">Uzavreté dvory v
        obytných blokoch s priestorom
        na
        stretávanie sa susedov <img class="arrow" src="./images/arrow_green.svg"
            alt="image not found"> </a>
    <a href="#" class="list_items__item">S
        pestovateľskými záhonmi a s ihriskami pre
        menšie
        deti, bez dozoru rodičov <img class="arrow" src="./images/arrow_green.svg"
            alt="image not found"> </a>
    <p class="list_items__item">Na prízemí
        komunitný priestor prepojený s
        kaviarňou</p>
</div>