<section class="qualities">
    <div class="container">
        <h2 class="section-title wow animate__animated animate__fadeInDown">OBJAVte KVALITY MAYERU
        </h2>
        <div class="swiper qualities-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide wow animate__animated animate__fadeIn">
                    <div class="qualities_item">
                        <div class="item_img">
                            <img src="./images/content/qualities_img_1.webp" alt="image not found">
                        </div>
                        <div class="item_text-block">
                            <h4 class="item_title">plnohodnotný život pre všetky generácie</h4>
                            <p class="item_text">Ulice MAYERa sú bezpečné, lemované stromami a
                                stvorené na
                                presun pešo či na bicykli. Maximum zdrojov je tu zdieľaných a
                                recyklovaných.
                                Prirodzené napojenia na blízke parky, mokrade a lúky, ale aj blízke
                                Malacky
                                dávajú
                                obyvateľom možnosť žiť zdravo, autonómne a nezávisle.</p>
                            <a href="#" class="item_link link link_afterline-green">Objaviť</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide wow animate__animated animate__fadeIn">
                    <div class="qualities_item">
                        <div class="item_img">
                            <img src="./images/content/qualities_img_2.webp" alt="image not found">
                        </div>
                        <div class="item_text-block">
                            <h4 class="item_title">všímajúce susedstvo</h4>
                            <p class="item_text">Bývanie na predmestí nemusí vždy znamenať iba
                                monotónnu zástavbu niekde v poli. Môže to byť miesto s unikátnou
                                kombináciou bytov, domov a priestorov s príjemnou
                                atmosférou, inšpiratívne
                                prostredie nielen pre bývanie, ale i pre prácu. Tak ako Manufaktúra
                                v
                                Bernolákove.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide wow animate__animated animate__fadeIn">
                    <div class="qualities_item">
                        <div class="item_img">
                            <img src="./images/content/qualities_img_3.webp" alt="image not found">
                        </div>
                        <div class="item_text-block">
                            <h4 class="item_title">bezpečnosť a inklúzia</h4>
                            <p class="item_text">Bývanie na predmestí nemusí vždy znamenať iba
                                monotónnu zástavbu niekde v poli. Môže to byť miesto s unikátnou
                                kombináciou bytov, domov a priestorov s príjemnou
                                atmosférou, inšpiratívne
                                prostredie nielen pre bývanie, ale i pre prácu. Tak ako Manufaktúra
                                v
                                Bernolákove.
                                Objavte, čo všetko ponúka:</p>
                            <a href="#" class="item_link link link_afterline-green">Objaviť</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide wow animate__animated animate__fadeIn">
                    <div class="qualities_item">
                        <div class="item_img">
                            <img src="./images/content/qualities_img_4.webp" alt="image not found">
                        </div>
                        <div class="item_text-block">
                            <h4 class="item_title">aktívna komunita</h4>
                            <p class="item_text">Ulice MAYERa sú bezpečné, lemované stromami a
                                stvorené na
                                presun pešo či na bicykli. Maximum zdrojov je tu zdieľaných a
                                recyklovaných.
                                Prirodzené napojenia na blízke parky, mokrade a lúky, ale aj blízke
                                Malacky
                                dávajú
                                obyvateľom možnosť žiť zdravo, autonómne a nezávisle.</p>
                            <a href="#" class="item_link link link_afterline-green">Objaviť</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>