.hero {
    height: 780px;
    width: 100%;
    position: relative;
    
    @include media ("<tablet") {
        height: 710px;
    }

    .container{
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: flex-end;
    }

    &_video {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &_text {
        // position: absolute;
        // left: 50%;
        // transform: translateX(-50%) !important;
        max-width: 815px;
        width: 100%;
        margin: auto auto 0 auto;
        @include adaptive-value("margin-bottom", 24, 50, 1);
        text-align: center;
        @include adaptive-value("font-size", 16, 14, 1);
        line-height: 130%;
        color: $white_soft !important;

        @include media ("<phone") {
            line-height: 122%;
        }
    }
}