.plan {
    @include adaptive-value("padding-top", 80, 50, 1);
    @include adaptive-value("padding-bottom", 80, 50, 1);

    &_content {
        max-width: 815px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 40, 70, 1);
    }

    .plan-swiper {
        overflow: visible;
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;
    }

    &_item {

        padding: 32px 14px 12px 14px;
        border-bottom: 2px solid $green;
        border-left: 2px solid $green;

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        p {
            font-size: 14px;
            font-weight: 600;
            font-family: "Ease";
        }
    }

    .slide {

        &_date {
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            font-family: "Ease";
            margin-bottom: 8px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        transition: all .3s ease;

        &.swiper-button-disabled {
            opacity: 0;
            transition: all .3s ease;
        }
    }
}