.link {
    position: relative;
    width: max-content;

    &_green,
    &_white {
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 0;
            height: 2px;

            transition: all .3s ease;
        }

        &:hover {
            &::after {
                width: 100%;
                transition: all .3s ease;
            }
        }
    }

    &_green {
        color: $green;

        &::after {
            background-color: $green;
        }
    }

    &_white {
        color: $white_soft;

        &::after {
            background-color: $white_soft;
        }
    }

    &_underline {
        text-decoration: underline;
    }

    &_afterline-green {
        padding-bottom: 4px;
        border-bottom: 2px solid $green !important;
    }
}